


ul.full-pi-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;
  background: $black;

  li {
    display: inline-block;
    padding: 14px 10px 12px 0;
    margin: 0 10px;
    line-height: .9rem;

    a {
      color: #FFB740;
      font-size: 0.75rem;
      position: relative;

      &:after {
        content: "›";
        position: absolute;
        right: -7px;
      }
    }
  }

}


