{{ attach_library('otsuka_design_system2022/organisms.banner-modal') }}

<div class="ds-banner-modal">
    {% include "@molecules/wrapper/modal/modal-trigger.twig" %}
</div>
{% include "@molecules/wrapper/modal/modal.twig" %}
