

$boilerplate-primary: #007BFF;

.ds1.boilerplate-page {
  padding-top: space(extra-extra-extra-large);

  * {
    color: $black;
    font-family: fontFamily(body);
  }

  h1, h2, h3, h4, h5, h6, li {
    color: $black;
    font-weight: 100;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: fontFamily(body);
  }

  a {
    color: $boilerplate-primary;
    text-decoration: none;
  }

  legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: space(small);
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
  }

  label {
    display: inline-block;
    margin-bottom: space(small);
  }


  small, .small {
    font-size: 80%;
    font-weight: 400;
  }

  blockquote {
    margin-bottom: space(medium);
    font-size: fontSize(m);
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: space(medium);
  }

  .subhead-bold {
    font-weight: 500;
  }

  ul, ol, dl {
    padding-left: space(extra-large);
  }

  ul.unordered-list li {
    margin: space(medium) 0;
  }

  table td {
    font-weight: 300;
    font-family: fontFamily(body);
  }

  table th {
    font-weight: 700;
    text-align: inherit;
    text-align: -webkit-match-parent;
    font-family: fontFamily(body);
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-bottom: space(small);
    margin-left: 0;
  }

  hr {
    margin-top: space(medium);
    margin-bottom: space(medium);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    opacity: unset;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: unset;

  }

  .graphic-divider {
    hr {
      border-top: 5px solid rgba(0, 0, 0, 0.7);
      opacity: unset;
    }
  }
}

.ds1.example-page {
  h1 {
    color: $black;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: space(small);
    font-family: fontFamily(body);
    font-weight: 100;
    line-height: 1.2;
    color: $black;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: space(small);
    font-family: fontFamily(body);
    font-weight: 100;
    line-height: 1.2;
    color: $black;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    font-family: fontFamily(body);
  }

  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: fontFamily(body);
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: fontFamily(body);
  }

  .usage button.btn-usage {
    width: 300px;
    margin: 0 auto;
    display: block;
    background-color: $black;
    border-color: $black;
  }

  button, .btn {
    text-transform: uppercase;
    font-family: fontFamily(body);
  }

  .jumbotron .btn-primary {
    font-size: 18px;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: space(half-medium) space(half-large);
    font-size: fontSize(m);
    line-height: 1;
    border-radius: 0.3rem;
    font-weight: bold;
  }
}
