{{ attach_library('otsuka_design_system2022/pages.boilerplate-style-guide') }}

<div class="container ds1 example-page">

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <h2>Sample content and markup needed to render the bootstrap components goes
    here. Use the FULL HTML format as required.</h2>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>
  <!-- Sample Markup -->

  <section class="mb-5 pt-5" id="jumbotrons">
    <div class="bg-light py-4 mb-5">
      <div class="container">
        <div class="d-flex justify-content-between">
          <h2>Jumbotrons</h2>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row px-5">
        <div class="col-60">
          <h2 class="mt-5">Default jumbotron</h2>

          <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>

            <p class="lead">This is a simple hero unit, a simple jumbotron-style
              component for calling extra attention to featured content or
              information.</p>

            <hr class="my-4"/>
            <p>It uses utility classes for typography and spacing to space
              content
              out within the larger container.</p>

            <p class="lead"><a class="btn btn-primary btn-lg" href="#"
                               role="button" tabindex="0">Learn more</a></p>
          </div>

          <h2 class="mt-5">Fluid jumbotron</h2>

          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3">Fluid jumbotron</h1>

              <p class="lead">This is a modified jumbotron that occupies the
                entire horizontal space of its parent.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Sample Markup -->
  <section class="usage pt-3 pb-3"><!-- Button trigger modal -->
    <button type="button"
            class="btn btn-primary btn-usage analytics--o-general-open"
            data-toggle="modal" data-target="#exampleModalLong"
            data-analytics-id="f6e19" data-analytics-position="Body">
      Show Usage Notes
    </button><!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header"><h5 class="modal-title"
                                        id="exampleModalLongTitle">Usage
              Notes</h5></div>
          <div class="modal-body"><p>This section is reserved for notes about
              how this element/component/pattern can be used for your website.&nbsp;
              The copy comes from the "annotations" page of each component in
              the EPAM InVision project named "Otsuka - Components &amp;
              Patterns" [<a
                href="https://epam.invisionapp.com/share/3KZJILMBWJR#/screens/440377574?browse"
                data-analytics-position="Overlay" rel="noreferrer">https://epam.invisionapp.com/share/3KZJILMBWJR#/screens/440377574?browse</a>],
              or page level templates in the EPAM InVision project named "Otsuka
              - Page Templates" [<a
                href="https://epam.invisionapp.com/share/HGZCUCV5XQB#/screens/437338645?browse"
                data-analytics-position="Overlay" rel="noreferrer">https://epam.invisionapp.com/share/HGZCUCV5XQB#/screens/437338645?browse</a>].
            </p>
            <p>For additional information, refer to <a
                href="https://www.google.com" data-analytics-position="Overlay"
                rel="noreferrer">https://www.google.com</a></p>
            <div class="body-footer">
              <hr>
              <div class="modal-navigation d-flex justify-content-end">
                <button type="button"
                        class="btn btn-primary analytics--o-general-close"
                        data-analytics-id="f6da1" data-dismiss="modal"
                        data-analytics-position="Overlay">Close
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </section>
</div>
