{% extends "@components/block/abstract/block.twig" %}
{% block content %}
  {% include "@components/global/_twig_debug.twig" with { component_debug_path: _self} %}

  <span>
    {{ content }}
  </span>
{% endblock %}
