

.paragraph-text-wrapper {
  .paragraph-text-image-mobile {
    display: none;
  }

  &--mobile {
    .paragraph-text-image {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .paragraph-text-image-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  &.item-layout-1-column,
  &.item-layout-2-columns {
    .image-wrapper {
      img {
        @include media-breakpoint-up(md) {

        }
        width: 100%;
      }
    }
  }

  br {
    &.mobile {
      display: inline;
      @include small {
        display: none;
      }

      &-strong {
        @media all and (max-width: 365px) {
          display: inline;
        }
        @media all and (min-width: 366px) {
          display: none;
        }
      }
    }

    &.desktop {
      @include large {
        display: inline;
      }
    }
  }

  &.item-layout-2-columns {
    @include media-breakpoint-up(sm) {
      display: flex;
      max-width: unset;
      width: 100%;

      &.image-position-right {
        flex-direction: row-reverse;
      }

      .content {
        flex-basis: 70%;
        text-align: left;
      }

      .image-wrapper {
        flex-basis: 30%;
      }
    }
  }
}
