{{ attach_library('otsuka_design_system2022/atoms.copyright-b') }}

<div class="copyright-wrapper">
  <div id="copyright-year" class="copyright-year">{{ copyright_year }}</div>
  <div id="copyright-rights"
       class="copyright-rights">{{ copyright_rights }}</div>
</div>
