<div class="header-top--content">
  <p>
    <strong>Are you in crisis?</strong>
    Call
    <a href="tel:8002738255">800-273-8255</a>
    or text
    <strong>MHA</strong>
    to
    <a href="sms:741741">741741</a>
  </p>
</div>
