{{ attach_library('otsuka_design_system2022/organisms.prescribing-information') }}

<div id="block-usfullprescribinginformation"
     class="block-content-us-full-prescribing-information block-content-basic block block-block-content">
    <div class="content">{{ content }}</div>
</div>
