

.modal-dialog {
  &.modal-style--content {
    .modal-content {
      .modal-body {
        position: relative;
        background: clr(background);
        padding: space(half-large) space(small) space(half-large);

        @include large {
          padding-left: space(extra-large);
          padding-right: space(extra-large);
        }

        // Button
        .vb-btn-wrapper {
          padding-bottom: 58px;

          @include large {
            padding-bottom: 75px;
          }
        }

        .vb-btn.vb-btn--fold-top {
          position: absolute;
          bottom: 22px;
          right: -13px;

          @include large {
            bottom: 49px;
            right: -18px;
          }
        }

        // Subtitle
        .subtitle-wrapper {
          padding-top: 49px;

          @include large {
            padding-top: 110px;
          }
        }

        .subtitle {
          position: absolute;
          top: 18px;
          left: -13px;

          h2,
          .h2 {
            position: relative;
            background: clr(background-section);
            color: clr(text-inverse);
            font-weight: 200;
            text-transform: uppercase;
            font-size: fontSize(xl);
            letter-spacing: 0.4px;
            line-height: 25px;
            padding: 7px 9px 7px 18px;
            z-index: 2;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 3px;
            left: 0;
            display: block;
            width: 13px;
            height: 20px;
            background: clr(background-section);
            transform: skew(0, 37deg);
            z-index: 1;
          }

          @include large {
            top: 39px;
            left: -21px;

            h2,
            .h2 {
              font-size: $h1-font-size;
              line-height: 43px;
              letter-spacing: 0.7px;
              padding: 12px 14px 12px 26px;
            }

            &::before {
              bottom: 0;
              width: 21px;
            }
          }
        }

        // Webform
        .webform-submission-form {
          &.contextual-region {
            position: unset;
          }
        }
      }
    }
  }
}
